body {
    font-family: 'Monterrat', sans-serif;
}
header {
    overflow: hidden;
    text-transform: uppercase;
    color: black;
}

h1 span {
    color: #77a466;
}

h1 {
    float: left;
    font-weight: bold;
}

nav {
    float: right;
}

nav a {
    color: #77a466;
    text-decoration: none;
}